extends layout
block content
	h1 #{restaurant} - #{title}

	h2 Classic French Onion
	p With a roll £1.20

	h2 Beer Battered Cod
	p With a roll £3.20

	h2 Stuffed Peppers
	p With a roll £2.70

	h2 Pizza Order
	p With a roll £2.20
	ul 
		li Chips
		li Garden Peas
		li Salads